body {
  padding: 0;
  margin: 0
}

.footer {
  background: #ffffff;
  padding: 10px;
}

.main {
  height: calc(100vh - 64px - 40px);
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px 5px;
  height: 100%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.login-form input {
}